@{
    ViewBag.Title = "Home Page";
}



<h4 class="center">Conoce nuestros Productos</h4>
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="https://static.eldiario.es/clip/397f6e34-93b0-40da-be39-00b2abc20e1e_16-9-discover-aspect-ratio_default_0.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="https://img.unocero.com/2020/05/tiendas-en-linea-ropa-mujer.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="https://images.unsplash.com/photo-1525507119028-ed4c629a60a3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8b3V0Zml0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"></a>
        <a class="carousel-item" href="#four!"><img src="https://i.ebayimg.com/thumbs/images/g/61gAAOSwkLNezrbK/s-l960.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="https://media.revistagq.com/photos/5e79f74b9da1570008d604ac/master/w_544,c_limit/marcas%203.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="https://www.dhresource.com/0x0/f2/albu/g9/M00/18/E1/rBVaVV5WLICAGkvYAAOcDXigc6M703.jpg/n-b-shirt-2020-mens-business-dress-shirts.jpg"></a>

        <a class="carousel-item" href="#five!"><img src="https://ae01.alicdn.com/kf/HTB126JoSFXXXXbvXFXXq6xXFXXXl/FONGIMIC-Nueva-Personalidad-Oto-o-Sudaderas-Sudaderas-Hombre-Moda-Tops-Simples-Ropas-Hombres-Hombres-Patchwork-Sudadera.jpg_640x640.jpg"></a>
    </div>
